@import url("https://fonts.googleapis.com/css2?family=BebasNeue&display=swap");

* {
  font-family: "Bebas Neue", sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.navContainer {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  background-color: #1a1a1a;
  padding: 0.3%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navItem {
  color: grey;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: gold;
}

body {
  background-color: #000;
}

.logoWords {
  font-weight: bold;
  transition: color 0.5s ease;
}

.logoWords:hover {
  color: gold;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  padding: 10px;
  list-style: none;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  animation-name: dropdown-animation;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.dropdown-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-menu li a:hover {
  color: #ff00a8;
}

@keyframes dropdown-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Livestream Container */

.liveStreamContainer {
  width: 100vw;
  height: 60vh;
  border: white 1px solid;
  position: relative;
}
.liveStream {
  width: 100%;
  height: 100%;
}

.liveStreamImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 1;
}
.liveStreamContainer:hover .liveStream {
  opacity: 1;
}
.liveStream {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Featured Videos */

.featuredVideosContainer {
  width: 100%;
  margin-top: 20px;
}

.featuredVideosTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  padding: 0px 40px;
  text-align: left;
  height: 5vh;
  color: #fff;
}

.featuredVideosTitle a {
  color: rgb(139, 139, 197);
  background-color: rgba(128, 128, 128, 0.237);
  padding: 5px;
  cursor: pointer;
}

.featuredVideosList {
  display: flex;

  overflow-x: auto;
  width: 100vw;
  height: 400px;
}

.featuredVideosList img {
  height: 100%;
}

.featuredVideoItem {
  display: flex;
  padding: 5px;
  height: 100%;
}

.featuredVideoItem:hover {
  transform: translateY(-5px);
}

.videoThumbnailOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.featuredVideoItem:hover .videoThumbnailOverlay {
  opacity: 1;
}

.playButton {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.videoThumbnail {
  width: 100%;
  height: 100%;
  display: block;
}

.videoContent {
  padding: 10px;
  text-align: center;
}

.videoTitle {
  font-size: 18px;
  margin-top: 10px;
  color: #fff;
}
